.page {
	right: 0;
	position: fixed;
	height: 100%;
	background-color: #f3f3f3;
	width: 80vw; /* landscape only*/
}

.page-title {
	font-size: 2rem;
	font-weight: normal;
}

.page-section-title {
	font-size: 1.5rem;
	font-weight: normal;
}

.page-content {
	margin-left: 2rem;
}

.sidenav {
	left: 0;
	position: fixed;
	width: 20vw; /* landscape only*/
	height: 100%;
	display: flex;
	background-color: grey;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.menu-button,
.options-button {
	background-color: #ffad33;
	height: 10rem;
	width: 10rem;
	border-radius: 8px;
	margin: 1rem;
}

.options-button {
	height: 2.25rem;
	width: 10rem;
}

.menu-button:hover,
.options-button:hover,
.form-button:hover {
	background-color: #ffffff;
}

.button-unavailable,
.button-unavailable:hover {
	cursor: default;
	background-color: grey;
}

.eventpost-card {
	background-color: #ffffff;
	border-radius: 1rem;
	display: inline-block;
	padding: 2rem;
	position: relative;
	width: 70%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.gen-flex-container {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
}
